.footer {
    background-image: linear-gradient(135deg, #667eea83 0%, #764ba283 100%);
    display: flex;
    width: 100%;
    height: 5em;
    align-items: center;
    justify-content: center;
    color: #fff
    // align-content:space-evenly;
}


