.bg-mountains {
    background-image: linear-gradient(to top, #ffffff00, #000000c9 70%) ,url(../img/homelandscape.jpeg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    color: white;
    padding: 2em;
    width:100%;
    height:700px;
}
.bg-books {
    background-image: url(../img/library.jpeg);
    background-size: cover;
    justify-content: flex-end;
    align-content: center;  
    width:auto;
    height:1000px;
    margin: auto;
    background-attachment: fixed;
}
.pseudomodal {
    // 
    width: 100px;
    height: 200px;
    position: relative;
    
}
.title-instructions {
    margin-bottom: 1em;
    text-align: center;
    
}
li {
    font-size: 1.5em;
    list-style-type: decimal;
    padding: 0.5em;
}

ul{
    counter-reset: contador;
}

li{
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

li::before{
    content:  counter(contador);
    counter-increment: contador;
    background: black;
    width: 30px;
    height: 30px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-right: 4px;
}
.call-to-action {
    -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border: solid black 1px;
   border-radius: 20px;
   height: 44px;
   color: white;
   width: auto;
   font-size: 18px;
   font-weight: 100;
   background-color: black;
   margin: 0.5em 0 0 8em;
   padding: 0 2em;
}
.call-to-action:hover {
   background: #ffffff;
   border: solid black 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;;
   border-radius: 20px;
   color: black;
   text-decoration: none;
   -webkit-box-shadow: 1px 1px 88px 0 rgba(105, 103, 103, 0.712);
   -moz-box-shadow: 1px 1px 88px 0 rgba(105, 103, 103, 0.712);
   box-shadow: 1px 1px 88px 0 rgba(105, 103, 103, 0.712);
}
.push-footer {
    height: 180px;
    width: 100%;
}