.bg-mountains {
    background-image: url(../img/homelandscape.jpeg);
    background-size: cover;
    color: white;
    padding:1rem;
    width:100%;
    height:700px;
}
.bg-books {
    background-image: url(../img/library.jpeg);
    background-size: cover;
    width:auto;
    height:800px;
    margin: auto;
}
.pseudomodal {
    text-align: center;
    padding-top: 60px;
    background-color: grey;
    width: 100px;
    height: 200px;
    position: relative;
    top: 40px; left: 300px;
}