.bg-mountains {
    background-image: url(../img/homelandscape.jpeg);
    // background-repeat: no-repeat;
    background-size: 100% 100%;
    padding:1rem;
    width:800px;
    height:700px;
}
.pseudomodal {
    text-align: center;
    padding-top: 60px;
    margin: 120px auto 120px auto;
    background-color: grey;
    width: 100px;
    height: 200px;
}