nav {
    background-color: black;
    font-family: 'New Tegomin', serif;
    color: white;
    padding: 0px;
    width: auto;
}
.menu-button-navbar {
    color: white;
}

.navbar-toggler-icon {
    color: white;
}

